.events-container {
  width: 100%;
  padding: 50px 3vw;
  color: black;
  padding-top: 110px;
}
.events-container .event-header {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.events-container .event-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.events-container .events {
  width: 22%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.03);
  margin-right: 3%;
  margin-bottom: 20px;
}
.events-container .events .event-name {
  font-weight: boldmade;
}
.events-container .events .event-image {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.events-container .events .event-image img {
  width: 100%;
}
.events-container .events .event-short-description {
  text-align: justify;
  font-size: 0.9rem;
}
.events-container .events .event-short-description p {
  margin-top: 10px;
}
.events-container .events .event-short-description .date {
  font-size: 0.7rem;
  font-style: italic;
}
.events-container .events .event-action {
  margin-top: 10px;
}
.events-container .events .event-action button {
  width: 100%;
  background: #e7b00a;
  border: none;
  border-radius: 3px;
}
.events-container .event-see-all {
  display: flex;
  justify-content: flex-end;
}
.events-container .event-see-all a {
  color: #e7b00a;
  position: relative;
}
.events-container .event-see-all a::after {
  width: 0%;
  content: "";
  height: 2px;
  background: #e7b00a;
  left: 0px;
  bottom: -2px;
  position: absolute;
}
.events-container .event-see-all a:hover::after {
  width: 100%;
  transition: 0.5s ease all;
}

@media only screen and (max-width: 980px) {
  .events-container .event-contents {
    justify-content: space-between;
  }
  .events-container .events {
    width: 40%;
  }
  .musics-container .music-content {
    justify-content: space-between;
  }
  .musics-container .music-content .musics {
    width: 40%;
  }
}
@media only screen and (max-width: 750px) {
  .contact-form-container {
    flex-direction: column;
  }
  .contact-form-container .contact-header {
    text-align: center;
  }
  .contact-form-container .contact-details-link,
.contact-form-container .contact-form {
    width: 95%;
  }
  .contact-form-container .divider .divider-text {
    padding: 0px 20px;
  }
  .contact-form-container .divider .divider-text::after,
.contact-form-container .divider .divider-text::before {
    width: 500px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
  .contact-form-container .divider .divider-text::before {
    left: 100%;
  }
  .contact-form-container .divider .divider-text::after {
    left: -500px;
  }
  .contact-form-container .contact-form {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 580px) {
  .events-container .event-header {
    text-align: center;
  }
  .events-container .event-contents {
    justify-content: center;
  }
  .events-container .events {
    width: 90%;
    margin-right: unset;
  }
  .contact-container .contact-header {
    text-align: center;
  }
}/*# sourceMappingURL=event.css.map */