.banner-container {
  width: 100%;
  height: 100vh;
  background: url("../images/banner_image.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 3vw;
}
.banner-container .banner-content {
  width: 80%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(231, 176, 10, 0.2);
}
.banner-container .banner-content .banner-header {
  font-weight: bold;
  font-size: 2rem;
}
.banner-container .banner-content .subtitle {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2rem;
  margin-top: 5px;
}
.banner-container .banner-content .call-to-action {
  margin-top: 20px;
}
.banner-container .banner-content .call-to-action a {
  display: inline-block;
  background: #e7b00a;
  color: black;
  padding: 8px 15px;
  border-radius: 3px;
}

.about-container {
  padding: 50px 3vw;
  display: flex;
  justify-content: space-between;
}
.about-container .about-text,
.about-container .about-image {
  width: 45%;
}
.about-container .about-text h2 {
  margin-bottom: 10px;
}
.about-container .about-image {
  border-radius: 5px;
  overflow: hidden;
}

.events-container {
  width: 100%;
  padding: 50px 3vw;
  background: black;
  color: white;
}
.events-container .event-header {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.events-container .event-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.events-container .events {
  width: 22%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 3%;
  margin-bottom: 20px;
}
.events-container .events .event-image {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
}
.events-container .events .event-short-description {
  text-align: justify;
  font-size: 0.9rem;
}
.events-container .events .event-short-description p {
  margin-top: 10px;
}
.events-container .events .event-short-description .date {
  font-size: 0.7rem;
  font-style: italic;
}
.events-container .events .event-action {
  margin-top: 10px;
}
.events-container .events .event-action button {
  width: 100%;
  background: #e7b00a;
  border: none;
  border-radius: 3px;
}
.events-container .event-see-all {
  display: flex;
  justify-content: flex-end;
}
.events-container .event-see-all a {
  color: #e7b00a;
  position: relative;
}
.events-container .event-see-all a::after {
  width: 0%;
  content: "";
  height: 2px;
  background: #e7b00a;
  left: 0px;
  bottom: -2px;
  position: absolute;
}
.events-container .event-see-all a:hover::after {
  width: 100%;
  transition: 0.5s ease all;
}

.musics-container {
  padding: 50px 3vw;
}
.musics-container .music-header {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.musics-container .music-content {
  display: flex;
  flex-wrap: wrap;
}
.musics-container .music-content .musics {
  width: 22%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-right: 3%;
  margin-bottom: 20px;
}
.musics-container .music-content .musics .music-image {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
}
.musics-container .music-content .musics .music-name {
  margin-top: 20px;
  font-weight: bold;
}
.musics-container .music-content .musics .music-player {
  width: 100%;
  margin-top: 20px;
}
.musics-container .music-content .musics .music-player audio {
  width: 100%;
}
.musics-container .music-see-all {
  display: flex;
  justify-content: flex-end;
}
.musics-container .music-see-all a {
  color: #e7b00a;
  position: relative;
}
.musics-container .music-see-all a::after {
  width: 0%;
  content: "";
  height: 2px;
  background: #e7b00a;
  left: 0px;
  bottom: -2px;
  position: absolute;
}
.musics-container .music-see-all a:hover::after {
  width: 100%;
  transition: 0.5s ease all;
}/*# sourceMappingURL=landing_page.css.map */