$padding: 0px 3vw;
$padding-one: 30px 3vw;
$padding-two: 50px 3vw;
$padding-top-one: 10px;
$padding-top-two: 20px;
$padding-top-three: 30px;
$padding-top-four: 40px;
$padding-top-five: 50px;
$padding-top-six: 60px;
$primary-color: black;
$primary-color-opposite: white;
$tetiary-color: #e7b00a;
$tetiary-color-opacity: rgba(231,176,10, .2);
$tetiary-color-opacity-deep: rgba(231,176,10, .4);

.banner-container{
    width: 100%;
    height: 100vh;
    background: url("../images/banner_image.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    text-align: center;
    padding: $padding-one;

    .banner-content{
        width: 80%;
        height: auto;
        padding: $padding-top-two;
        border-radius: 5px;
        backdrop-filter: blur(10px);
        background: $tetiary-color-opacity;

        .banner-header{
            font-weight: bold;
            font-size: 2rem;

        }

        .subtitle{
            color: rgba(0, 0, 0, .9);
            font-size: 1.2rem;
            margin-top: 5px;
        }

        .call-to-action{
            margin-top: $padding-top-two;

            a{
                display: inline-block;
                background: $tetiary-color;
                color: $primary-color;
                padding: 8px 15px;
                border-radius: 3px;
            }
        }

    }

}

.about-container{
    padding: $padding-two;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    

    .about-text,
    .about-image{
        width: 45%;
    }

    .about-text{

        h2{
            margin-bottom: $padding-top-one;

        }
    }

    .about-image{
        border-radius: 5px;
        overflow: hidden;
    }
}

.events-container{
    width: 100%;
    padding: $padding-two;
    background: $primary-color;
    color: white;

    .event-header{
        font-size: 1.3rem;
        margin-bottom: $padding-top-two;
    }

    .event-contents{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .events{
        width: 22%;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, .1);
        // background: $primary-color-opposite;
        // color: black;
        border-radius: 5px;
        padding: $padding-top-one;
        background: rgba(255, 255, 255, .2);
        margin-right: 3%;
        margin-bottom: $padding-top-two;

        .event-name{
            font-weight: boldmade ;
        }

        .event-image{
            width: 100%;
            height: 200px;
            background-color: rgba(255, 255, 255, .3);
            overflow: hidden;

            img{
                width: 100%;

            }
        }

        .event-short-description{
            text-align: justify;
            font-size: 0.9rem;

            p{
                margin-top: $padding-top-one;
            }

            .date{
                font-size: 0.7rem;
                font-style: italic;
            }

        }

        .event-action{
            margin-top: $padding-top-one;
            button{
                width: 100%;
                background: $tetiary-color;
                border: none;
                border-radius: 3px;
                
            }
        }
    }

    .event-see-all{
        display: flex;
        justify-content: flex-end;

        a{
            color: $tetiary-color;
            position: relative;
        }

        a::after{
            width: 0%;
            content: "";
            height: 2px;
            background: $tetiary-color;
            left: 0px;
            bottom: -2px;
            position: absolute;
        }

        a:hover::after{
            width: 100%;
            transition: 0.5s ease all;
        }
    }
}

.musics-container{
    padding: $padding-two;

    .music-header{
        font-size: 1.3rem;
        margin-bottom: $padding-top-two;
        font-weight: bold;
    }

    .music-content{
        display: flex;
        flex-wrap: wrap;

        .musics{
            width: 22%;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
            padding: $padding-top-one;
            border-radius: 5px;
            margin-right: 3%;
            margin-bottom: $padding-top-two;

            .music-image{
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
                color: rgba(0, 0, 0, .8);
                background: rgba(0, 0, 0, .03);
                border-radius: 3px;
            }

            .music-name{
                margin-top: $padding-top-two;
                font-weight: bold;
            }

            .music-player{
                width: 100%;
                margin-top: $padding-top-two;

                audio{
                    width: 100%;
                }

                // audio::-webkit-media-controls-panel{
                //     background: black;
                // }


                // audio::-webkit-media-controls-mute-button,
                // audio::-webkit-media-controls-play-button{
                //     color: white;
                // }
            }
        }
    }

    .music-see-all{
        display: flex;
        justify-content: flex-end;

        a{
            color: $tetiary-color;
            position: relative;
        }

        a::after{
            width: 0%;
            content: "";
            height: 2px;
            background: $tetiary-color;
            left: 0px;
            bottom: -2px;
            position: absolute;
        }

        a:hover::after{
            width: 100%;
            transition: 0.5s ease all;
        }
    }
}

.contact-container{
    padding: $padding-two;

    .contact-header{
        font-size: 1.3rem;
        margin-bottom: $padding-top-two;
    }

    .contact-details{

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: hidden;

        .contact-contents{
            width: 150px;
            height: auto;
            margin-right: $padding-top-three;
            min-width: 150px;
        }

        .contacts{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
            overflow: hidden;
            position: relative;

            .contact-images{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                // border: 1px solid red;

                img{
                    width: 100%;
                }
            }

            .contact-links{
                background: $tetiary-color-opacity-deep;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 9;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $padding-top-two;

                ul{
                    list-style: none;
                    display: flex;

                    li{

                        a{
                            color: $primary-color;
                            font-size: 1.8rem;
                        }

                        a:hover{
                            // border: 1px solid red;
                            // transform: scale(1.2);
                            // transition: 0.5s ease all;
                        }
                    }

                    li:hover{
                        transform: scale(1.2);
                        transition: 0.5s ease all;
                        
                    }

                    li:not(:first-child){
                        margin-left: 15px;
                    }
                }

            }
        }

        .contacts:hover{

            .contact-links{
                background: $tetiary-color-opacity-deep;
            }

        }

        .contact-name{
            font-weight: bold;
            text-align: center;
            margin-top: $padding-top-one;
            padding: 0px 5px;
            font-size: 0.85rem;
        }
    }

}

