* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.dash {
	background-image: linear-gradient(to right, rgba(231, 176, 10, 0.8), rgb(0, 0, 0));
}

.cup {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 15vh;
}

.logo {
	width: 10%;
	float: left;
	margin: 2%;
	border: 2px solid rgb(231, 176, 10);
	border-radius: 100px;
}


.cup h1 {
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	margin-top: 2%;
	font-weight: bold;
	font-style: italic;
	text-shadow: 2px 3px rgb(231, 176, 10);
}


.cup a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	float: right;
	margin-right: 1%;
	margin-left: 1%;
}

.cup a:hover {
	color: rgb(231, 176, 10);
}

.two {
	width: 80%;
	margin: auto;
}

.two img {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.two h3 {
	text-transform: capitalize;
	text-align: center;
	color: rgb(255, 255, 255);
	margin-top: 5%;
	margin-bottom: 3%;
	border-bottom: 5px solid rgb(231, 176, 10);
	font-size: 1.5em;
	font-weight: bold;

}

.two p {
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	margin-bottom: 2%;
	font-style: oblique;
	font-weight: bold;
}





/*@@@@@@@@@ FOOTER SECTION @@@@@@@@@@@*/



.foot {
	background-color: rgb(0, 0, 0);
}

.foot h2 {
	margin-left: 2%;
	color: rgb(231, 176, 10);
	text-transform: capitalize;
	border-bottom: 2px solid rgb(255, 152, 0);
	display: inline-block;
	font-size: 2em;
}
	
.foot p {
	color: rgb(255, 255, 255);
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 0.7em;
}

.newsletter .clue {
	width: 25%;
	max-width: 35%;
}

.newsletter .clue {
	display: inline-block;
	padding: 1%;
	border: 2px solid rgb(231, 176, 10);
	outline: none;
	margin: 0% 1% 1% 3%;
	/*border-radius: 30px;*/
}

.newsletter .btn-2 {
	color: rgb(0, 0, 0);
	background-color: rgb(231, 176, 10);
	padding: 8px 18px;
	/*border-radius: 30px;*/
	margin-top: 3%;
	margin-left: -1%;
	border: 1px solid rgb(255, 152, 0);
}

.newsletter .btn-2:hover {
	background-color: transparent;
	border: 2px solid rgb(231, 176, 10);
	cursor: pointer;
}

.cool h3 {
	display: inline-block;
	color: rgb(231, 176, 10);
	font-size: 1.2em;
	text-transform: capitalize;
	margin-top: 3%;
	margin-left: 3%;
	margin-bottom: 1%;
	letter-spacing: 1px;
	border-bottom: 2px solid rgb(231, 176, 10);
}

.cool p a {
	color: rgb(255, 255, 255);
	margin-left: 1%;
	margin-bottom: 1%;
}

.cool p a;hover {
	color: rgb(231, 176, 10);
}

.end p {
	color: rgb(255, 255, 255);
	text-transform: capitalize;
	font-size: 1em;
	text-align: center;
}

.end p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 0.8em;
	text-transform: capitalize;
	text-align: center;
	font-weight: bold;
}

.end p a:hover {
	color: rgb(231, 176, 10);
}

.end span {
	letter-spacing: 1px;
	font-weight: bold;
	color: rgb(231, 176, 10);
}
